Load the data from the following UCI repository:
https://archive.ics.uci.edu/dataset/13/balloons

Make sure that you load the dataset as a pandas dataframe.

Note that you can directly load some datasets in UCI machine learning repository to python.

Note that you may still have to convert the uci repo dataset into pandas dataframe depending on the dataset.

In [ ]:
!pip install ucimlrepo

In [ ]:
import ucimlrepo as ucimlrepo
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
balloons = fetch_ucirepo(id=13) 
  
# data (as pandas dataframes) 
X = balloons.data.features 
y = balloons.data.targets 

print(y)
# metadata 
print(balloons.metadata) 
  
# variable information 
print(balloons.variables) 
balloons.data.original

Check whether this dataset has any missing values in any of its features. If so fill them with the most frequent item in each column.

In [ ]:
X.isnull().sum()

Now, one-hot encode the **color** attribute. Use pandas library. Then print the first 20 rows of the dataset.

In [ ]:
import pandas as pd
df_encoded = pd.get_dummies(X, columns=['color'])
df_encoded

Perform one-hot encoding for all the other categorical attributes as well.

Print first 20 rows of the dataset.

calculate the norm 1, 2, 3 between row 0 and row 12.

-------------------------------------------------------------------------------

Use the following pandas dataframe to answer the following questions.

In [ ]:

data = {
    'ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice', 'Bob', 'John', 'Peter', 'Potter', 'Peter'],
    'Age': [25, 30, None, 40, None, 25, 30, 36, 42, 27, 42],
    'City': ['NY', 'LA', 'SF', 'NY', 'LA', 'SF', 'NY', 'SC', 'IN', 'BZ', 'IN'],
    'Product': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'A', 'C', 'A'],
    'Sales': [200, 300, 400, 250, 350, 450, 200, 120, 130, 90, 130]
}

df = pd.DataFrame(data)
print(df)

Is there any attribute with missing values? 

If so what are them?

Use forward filling to fill the missing data values, if there exists missing values.

One-Hot encode the attributes 'City' and 'Product'.

Drop duplicate rows based on the 'Name' column

Create a pivot table to summarize total sales by product and city

Create a pivot table to summarize minimum and maximum sales by product and city