## Pivot Tables

This is one of the most powerful tools in pandas to analyze data since it allows you to calculate summary statistics as pivot tables.

Let us try to learn this tool using the following dataset.

https://github.com/plotly/datasets/blob/master/diabetes.csv

In [3]:
import pandas as pd
import numpy as np
D = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/refs/heads/master/diabetes.csv")
D.info()
D.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
D.head()

#### Fundamentals of a Pandas pivot table.

A pivot table in pandas is a powerful tool for summarizing, analyzing, and transforming data. It allows you to reshape data by organizing it into a two-dimensional table, grouping data by specified rows and columns, and applying an aggregation function to get summary statistics.

##### Key Ideas:
- Rows(index): The column(s) used to group the data vertically (usually corresponds to categorical variables).
- Columns: The column(s) used to group the data horizontally.
- Values: The data to be aggregated, which will fill the cells of the pivot table.
- Aggregation function: The function applied to the values (e.g., sum(), mean(), count(), etc.) to summarize the data.

In [4]:
pd.pivot_table(D, values="BMI", index='Pregnancies', 
               columns=['Outcome'], aggfunc='mean')

Outcome              0          1
Pregnancies
0            31.727397  39.213158
1            29.616038  37.793103
2            29.679762  34.578947
3            29.231250  32.548148
4            31.255556  33.873913
5            31.100000  36.780952
6            29.591176  31.775000
7            29.975000  34.756000
8            30.693750  32.204545
9            28.840000  33.300000
10           30.114286  31.380000
11           37.125000  39.385714
12           30.560000  34.575000
13           33.280000  36.720000
14                 NaN  35.100000
15                 NaN  37.100000
17                 NaN  40.900000

In [5]:
pd.pivot_table(D, values="BMI", index='Outcome', 
               columns=['Pregnancies'], aggfunc='mean')

Pregnancies,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,17
Outcome,,,,,,,,,,,,,,,,,
0,31.727397,29.616038,29.679762,29.231250,31.255556,31.100000,29.591176,29.975,30.693750,28.84,30.114286,37.125000,30.560,33.28,NaN,NaN,NaN
1,39.213158,37.793103,34.578947,32.548148,33.873913,36.780952,31.775000,34.756,32.204545,33.30,31.380000,39.385714,34.575,36.72,35.1,37.1,40.9

In [6]:
pd.pivot_table(D, values=["BMI", "SkinThickness"], index=['Outcome', 'Age'], 
               columns=['Pregnancies', 'Insulin'], aggfunc='mean').head()

                   BMI                                                ...  \
Pregnancies         0                                                 ...
Insulin            0   14    36    40    50    53  63  64    66  72   ...
Outcome Age                                                           ...
0       21   22.385714 NaN   NaN  36.9  30.8   NaN NaN NaN  35.8 NaN  ...
        22   29.000000 NaN  27.8   NaN   NaN   NaN NaN NaN   NaN NaN  ...
        23   26.400000 NaN   NaN   NaN   NaN   NaN NaN NaN   NaN NaN  ...
        24   44.050000 NaN   NaN   NaN   NaN  45.2 NaN NaN   NaN NaN  ...
        25   22.820000 NaN   NaN   NaN   NaN   NaN NaN NaN   NaN NaN  ...

            SkinThickness
Pregnancies            12      13              14      15  17
Insulin               271 325 0   29  110 140 0   184 110 114
Outcome Age
0       21            NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
        22            NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
        23            NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
        24            NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
        25            NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

[5 rows x 696 columns]